---
import "../styles/global.css"
const { title } = Astro.props
import { Umami } from 'astro-analytics';

---

<html data-theme="halloween" lang="en">
    <head>
        <title>{title}</title>
        <script async type="text/partytown" src="https://analytics.eu.umami.is/script.js" data-website-id="b41463f3-0dc9-4a2b-adfd-180eb786fd97"></script>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
        <link rel="manifest" href="/site.webmanifest" />
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />
    </head>
    <body>
        <main>
            <slot />
        </main>
    </body>
</html>
